<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <add key="Digillect Build Tools" value="https://ci.appveyor.com/nuget/digillect-build-tools" />
    <add key="myget.org/F/aarnott" value="https://www.myget.org/F/aarnott/api/v3/index.json" protocolVersion="3" />
    <add key="myget.org/F/aarnott" value="https://www.myget.org/F/aarnott/api/v2/" />
  </packageSources>
</configuration>