<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNet.Contracts" version="1.10.20606.1" targetFramework="sl40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="sl40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="sl40" />
  <package id="NuProj.Common" version="0.11.14-beta" targetFramework="sl40" developmentDependency="true" />
  <package id="NuProj.Common" version="0.11.17-beta" targetFramework="sl40" developmentDependency="true" />
</packages>